<h3 (click)="findCountries()">Por pais</h3>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let item of paises">
        <tr> <!-- Esto es lo que tenemos que repetir por cada país que encuentre -->
            <td> Número </td> <!-- Aquí obtendremos el número de resultado -->
            <td>
                <img class="small-flag" > <!-- Aquí obtendremos la url de la bandera --> 
            </td>
            <td>  </td> <!-- La capital, el nombre del país y la población lo obtendremos de la api -->
            <td></td>
            <td>  </td>
            <td>
                <a >Ver...</a> <!-- Esto lo dejamos así de momento -->
            </td>
        </tr>
    </tbody>
</table>